@charset "UTF-8";
body, html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f2f2;
  font-family: Roboto, Arial, sans-serif;
  color: #666;
}
h1 {
  font-weight: 400;
}
h1, ul {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
input[type="text"] {
  border: 0;
  padding-left: 4px;
  padding-right: 4px;
  background-color: transparent;
  font-family: Roboto, Arial, sans-serif;
}
input[type="text"]::placeholder {
  color: #ccc;
  font-style: italic;
}
button {
  border: 0;
  background-color: transparent;
}
.actions-bar {
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e6e6e6;
  height: 40px;
  padding: 3px 12px;
  font-size: 14px;
  color: #888;
}
.actions-bar,
.main-controls {
  display: flex;
  box-sizing: border-box;
}
.main-controls {
  height: 64px;
  border-bottom: 1px solid #e6e6e6;
}
.main-controls__select-all {
  flex-shrink: 0;
}
.main-controls__select-all-button {
  height: 64px;
  width: 56px;
  text-indent: -9999px;
  background-image: url(images/firstSymbol.svg);
  background-repeat: no-repeat;
  background-position: 15px 26px;
}
.main-controls__create-new {
  flex-grow: 1;
}
.main-controls__create-new-input {
  width: 100%;
  height: 64px;
  padding-top: 4px;
  box-sizing: border-box;
  font-size: 24px;
}
.task-clear-completed {
  margin: 0;
  border: 0;
  padding: 8px 0;
  font-size: 14px;
  color: #888;
  font-weight: 300;
}
.task-filter {
  display: flex;
}
.task-filter__item {
  padding: 8px 0;
  overflow: hidden;
}
.task-filter__item + .task-filter__item {
  margin-left: 6px;
}
.task-filter__input {
  width: 30px;
  height: 0;
  margin-left: -30px;
}
.task-filter__text {
  padding: 2px 6px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.task-filter__input:checked + .task-filter__text {
  border-color: #ebdfdf;
}
.task-filter__input:focus + .task-filter__text {
  border-color: #ccc;
}
.task-item {
  box-sizing: border-box;
  border-bottom: 1px solid #e6e6e6;
}
.task-item__view {
  display: flex;
  flex-grow: 1;
  align-items: center;
  min-height: 59px;
  overflow: hidden;
}
.task-item__view:hover {
  background-color: #fafafa;
}
.task-item__status-input {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin: 0 0 0 -40px;
}
.task-item__status-icon {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  margin: 0 12px 0 22px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  background-color: #fff;
}
.task-item__status-input:checked + .task-item__status-icon {
  background-image: url(images/secondSymbol.svg);
  background-position: 6px 8px;
  background-repeat: no-repeat;
  border-color: #5dc2af;
}
.task-item__status-input:focus + .task-item__status-icon,
.task-item__view:hover
  .task-item__status-input:not(:checked)
  + .task-item__status-icon {
  border-color: #ccc;
}
.task-item__text {
  display: flex;
  flex-grow: 1;
  min-width: 0;
  padding: 12px 0;
  word-break: break-word;
  font-size: 24px;
}
.task-item__status-input:checked ~ .task-item__text {
  color: #ccc;
  text-decoration: line-through;
}
.task-item__delete {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  margin: -9999px 4px 0 12px;
  text-indent: -9999px;
  background-image: url(images/thirdSymbol.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}
.task-item__delete:focus, .task-item__view:hover .task-item__delete {
  margin-top: 0;
}
@media (hover: none) {
  .task-item__delete {
    margin-top: 0;
  }
}
.task-item__edit {
  padding-left: 56px;
}
.task-item__input {
  height: 59px;
  width: 100%;
  box-sizing: border-box;
  font-size: 24px;
}
.tasks {
  min-height: 296px;
}
.tasks:empty {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tasks:empty:before {
  content: "⌨️";
  font-size: 100px;
}
.title {
  text-align: center;
  color: #ccc;
  font-weight: 100;
  font-size: 100px;
  text-transform: lowercase;
  line-height: 1;
}
.todo-app {
  position: relative;
  width: 80%;
  max-width: 560px;
  min-width: 460px;
  margin: 0 auto 20px;
}
.todo-app:before {
  left: 2px;
  right: 2px;
  height: 5px;
  z-index: -1;
}
.todo-app:after, .todo-app:before {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  content: "";
  position: absolute;
  top: 100%;
}
.todo-app:after {
  left: 4px;
  right: 4px;
  height: 10px;
  z-index: -2;
}
.todo-app__frame {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}
